/***************************************NAVBAR*****************************************/
.navcontainer > img {
  width: 4%;
  height: 6%;
  position: absolute;
  margin-left: -40vw;
  margin-top: 7px;
}
.navdiv {
  display: flex;
}
div.navcontainer {
  font-family: Raleway;
  margin: 0 auto;
  padding: 1em 3em;
  display: flex;
  justify-content: center;
}

div.navcontainer a {
  align-self: center;
  color: #000;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 2px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
@media screen and (max-width: 998px) {
  div.navcontainer a {
    padding: 2px 0px;
  }
}

.greenc {
  background: #ffffff;
}
div.borderXwidth a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #000;
  transition: all 0.3s;
}
div.borderXwidth a:after {
  left: 10px;
  bottom: 0px;
}
div.borderXwidth .active:after {
  opacity: 1;
  width: 50%;
}
.activea {
  /* position: absolute; */
  opacity: 1;
  background: #000;
  color: black;
  height: 0.12px;
  width: 50px;
  top: 12px;
  right: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.user {
  position: absolute;
  align-self: center;
  margin-right: -70vw;
}
.toggler {
  position: absolute;
  align-self: center;
  margin-right: -90vw;
  font-size: 1.6rem;
  display: none;
}
@media screen and (max-width: 876px) {
  .navdiv {
    flex-direction: column;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    background: white;
    width: 100vw;
    margin-top: 8vh;
    padding: 4vh 0;
    z-index: 1000000;
  }
  .toggler {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .user {
    margin-right: -60vw;
  }
}
@media screen and (max-width: 466px) {
  .user {
    margin-right: -50vw;
  }
}
@media screen and (max-width: 876px) {
  .display-inactive {
    display: none;
  }
}

/*********************STORE*******************************/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  overflow-y: hidden;
  position: fixed;
}
.one {
  padding: 0 1% 3% 1%;
  overflow-y: scroll;
}

.flex-container > div {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  height: 89vh;
  font-size: 20px;
}

@media only screen and (min-width: 1025px) {
  .one {
    width: 24vw;
  }
  .three {
    width: 24vw;
  }
  .two {
    width: 46vw;
  }
}
@media only screen and (max-width: 1024px) {
  .one {
    display: none;
  }

  .one .two .three {
    width: 100%;
  }
  .three {
    display: none;
  }
}
.color {
  display: flex;
  flex-wrap: wrap;
}
.color > div {
  background-color: green;
  width: 40px;
  height: 40px;
  margin: 6px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
/* The container */
.contain {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 19px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-top: 30px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0px;
  height: 45px;
  width: 45px;
  background-color: red;
}
.redcheck {
  background-color: red;
}
.bluecheck {
  background-color: #79dae8;
}
.yellowcheck {
  background-color: #efd345;
}
.greencheck {
  background-color: #6bcb77;
}
.goldencheck {
  background-color: #d4ac2b;
}
/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  filter: brightness(95%);
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
  opacity: 0.5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
  left: 21px;
  top: 10px;
  width: 5px;
  height: 25px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.filter {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  width: 23.3vw;
  height: 10vh;
  padding-top: 15px;
  margin-left: -10px;
}
.filterdiv {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}
.filterform {
  margin-top: 100px;
}
.btndiv {
  justify-content: center;
  display: flex;
}
.btn {
  margin: auto;
  background-color: black;
  width: 30%;
  color: white;
  align-self: center;
}
.shoecard {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  text-align: left;
  font-family: arial;
  margin: 0 0;
}
.shoecard > img {
  width: 100%;
  height: 66%;
  background-color: #000;
}

.shoerow {
  margin: 120px 40px 40px 40px;
}
@media only screen and (max-width: 1024px) {
  .shoerow {
    margin: 120px;
  }
  .shoecard {
    margin-right: -60px;
  }
  .shoecard > img {
    width: 70%;
    height: 66%;
    background-color: #000;
  }
}
@media only screen and (max-width: 950px) {
  .shoerow {
    margin: 120px;
  }
  .shoecard {
    margin-right: -100px;
  }
  .shoecard > img {
    width: 70%;
    height: 66%;
    background-color: #000;
  }
}
@media only screen and (max-width: 700px) {
  .shoerow {
    margin: 120px 40px 40px 40px;
  }
  .shoecard {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    text-align: left;
    font-family: arial;
    margin: 0 0;
  }
  .shoecard > img {
    width: 100%;
    height: 66%;
    background-color: #000;
  }
}
.two {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.shoesdiv {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}
.shoesdiv > button {
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.shoes {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  width: 44vw;
  height: 12vh;
  padding-top: 15px;
  padding-left: 15px;
}
@media only screen and (max-width: 1024px) {
  .shoes {
    width: 92vw;
    margin: 0 34px;
  }
}
.shoename {
  font-weight: 550;
  margin-bottom: -4px;
  color: #000;
}
.price {
  font-size: 15px;
  color: #000;
}

@media only screen and (min-width: 1200px) {
  .price {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1300px) {
  .price {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1500px) {
  .price {
    font-size: 15px;
  }
}
.rating {
  color: gold;
  margin-right: -1px;
}
.cart {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  width: 23.3vw;
  height: 10vh;
  padding-top: 15px;
  padding-left: 15px;
}
.cart-shoename {
  margin: 2px 22px -1px 22px;
  font-weight: 500;
  font-size: 23px;
}
.cart-shoeline {
  margin: -7px 22px 0px 22px;
  line-height: 1;
  font-size: 17px;
}
.cart-price {
  margin: 24px 22px 0 22px;
  font-weight: 500;
}
.cartdiv {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}
.cross {
  font-size: 1.5rem;
  margin-left: -15px;
  margin-top: -10px;
  color: #ff0000;
  position: absolute;
}
.myshoecart {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  margin-left: 5%;
  max-height: 150px;
}
.cartrow {
  margin: 100px 6px 0px 6px;
  position: relative;
}
.myshoe {
  width: 50%;
}
.myshoe > img {
  width: 100%;
  height: 100%;
  background-color: #ececec;
}
.three {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  float: left;
}
@media only screen and (max-width: 1024px) {
  .three {
    overflow-y: scroll;
    overflow: hidden;
    float: left;
  }
}

.cartapply {
  margin-top: 70vh;
  position: fixed;
  height: 19vh;
  width: 24vw;
  z-index: 451222;
  background-color: #fff;
  display: flex;
}
@media only screen and (max-width: 1100px) {
  .cartapply > div > div {
    font-size: 18px;
  }
}
.cartbtn {
  margin-top: 12px;
  background-color: black;
  width: 100%;
  color: white;
  align-self: center;
}
@media only screen and (max-width: 1400px) {
  .cartbtn {
    margin-top: 12px;
    background-color: black;
    width: 100%;
    color: white;
    align-self: center;
    margin-left: -50px;
  }
}
.cartextraspace {
  height: 19vh;
  width: 24vw;
  background-color: #fff;
}
/*****************************************CONTACT*******************************************/

.contact {
  justify-content: center;
  display: flex;
  height: 82vh;
  margin-top: -30px;
}
.contact-box {
  height: auto;
  width: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 4% 5%;
}
.reachus {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.email {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: -10px;
}
.emailinfo {
  font-weight: 500;
}
.email-box {
  margin-bottom: 5%;
}
.social-contact {
  height: auto;
  width: auto;
  margin-top: -40px;
}
.social-contact > h6 {
  text-align: center;
}
.sites-div {
  display: flex;
  justify-content: center;
}
.social-sites {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
/**************************************TEAM*******************************************************/

.team {
  margin-left: -21px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 100px;
  /* position: relative; */
}
.column {
  display: flex;
  justify-content: center;
}
.people {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.people > img {
  width: 100%;
  height: 100%;
}
.teamcard {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  align-self: center;
  margin-left: 31px;
  margin-top: 20px;
  padding: 0;
  width: 90%;
  /* height: 50%;
  width: 15%;
   position: absolute;  */
}
.people-info {
  padding: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name {
  display: inline;
  align-self: center;
}
.designation {
  display: inline;
  align-self: center;
  text-align: center;
}
.people-div {
  display: flex;
  justify-content: center;
  padding: 6px 0px 30px 0;
}
.people-contact {
  height: 30px;
  width: 30px;
  margin-left: 6px;
}
.message-up {
  font-size: 26px;
  font-weight: 500;
  width: 100vw;
  text-align: center;
  padding: 2%;
  margin-bottom: -6%;
  /* position: absolute; */
}
.message-down {
  font-size: 26px;
  font-weight: 500;
  width: 100vw;
  text-align: center;
  padding: 2%;
  /* margin-top: -6%; */
}
@media screen and (max-width: 1200px) {
}
/************************************************JOURNEY****************************************************/
.journeydiv {
  margin: 20px 10vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.journeydiv > img {
  width: 100%;
  height: 40vh;
}
.centered {
  text-align: center;
  position: absolute;
  font-size: 70px;
  color: #ececec;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.experiences {
  list-style-type: none;
  background-color: #000;
}
ul.experiences li {
  position: relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: 2.5em;
  padding-right: 2%;
}

ul.experiences li:after {
  /* bullets */
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #ececec;
  position: absolute;
  left: -20px; /*adjust manually*/
  top: 12px;
  font-size: 8px;
}

ul.experiences li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -17px; /* adjust manually */
  border-left: 1.4px solid white;
  height: 95%;
  top: 22px;
  width: 1px;
}

ul.experiences li:first-child:before {
  /* first li's line */
  top: 22px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before {
  /* last li's line */
  height: 0px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
.point {
  color: #ececec;
}
.point-description {
  color: #ececec;
}
.experiences {
  padding-top: 18px;
}
/***********************************Design Product*******************************************/

@media only screen and (max-width: 1200px) {
  .design-product-cart {
    display: none;
  }
  .design-product > div {
    width: 98vw;
  }
}
@media only screen and (min-width: 1201px) {
  .design-product-cart {
    width: 24vw;
  }
  .design-product {
    width: 72vw;
  }
}

.design-product {
  padding: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.design-heading {
  position: fixed;
  z-index: 2;
  margin-top: -9px;
  background-color: white;
  width: 71vw;
  font-size: 28px;
  height: 50px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .design-heading {
    width: 68vw;
    height: 4vh;
    padding-top: 15px;
  }
}
.arrow {
  padding: 1.5%;
}
.shoe-design {
  align-self: center;
  width: 90%;
  height: 100%;
  margin-left: 55px;
  background-color: #dfdfde;
}
@media screen and (max-width: 992px) {
  .shoe-design {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
  .design-heading {
    height: 80px;
    padding-top: 1px;
  }
}
.design-product-footer {
  background-color: white;
  width: 72vw;
  height: 15vh;
  position: absolute;
  margin-top: 67.8vh;
  margin-left: -17px;
  z-index: 2;
  position: fixed;
}
.design-space-row {
  display: flex;
  flex-wrap: wrap;
}
.columndes {
  padding-top: 10vh;
  padding-left: 0;
  height: 68vh;
  display: flex;
  overflow-x: hidden;
}
.shoe-colour-column-one {
  /* padding: 3.4% 0% 6% 0%; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 11vw;
  height: 58vh;
  /* padding: 0 2% 0 2%; */
}

.shoe-colour-image {
  width: 10vw;
  height: 16.8vh;
  background-color: #dfdfde;
  margin: 0 0 3.8vh 1vw;
}
.shoe-colour-image-last {
  width: 10vw;
  height: 16.8vh;
  margin-bottom: -182px;
  /* margin: 8% 5%; */
  background-color: #dfdfde;
  margin-left: 1vw;
}
.rate-product {
  margin-left: 80px;
  font-size: 15px;
}
.design-product-buttons {
  display: flex;
  justify-content: center;
}
.design-product-buttons > button {
  height: 28px;
  font-size: 17px;
  margin-left: 20px;
  /* align-self: center; */
  margin-top: 0px;
}
@media screen and (max-width: 800px) {
  .design-product-buttons > button {
    height: 30px;
    font-size: 12px;
    margin-left: 20px;
    /* align-self: center; */
    margin-top: -5px;
  }
  .design-product-footer {
    background-color: white;
    width: 72vw;
    height: 15vh;
    position: absolute;
    margin-top: 60vh;
    margin-left: -17px;
    z-index: 2;
    position: fixed;
  }
}
.add-to-cart {
  background-color: #000;
  color: #fff;
}
.shoe-colour-column-two {
  /* padding: 3.4% 0% 6% 0%; */
  display: flex;
  flex-direction: column;
  width: 32vw;
  margin-left: 2.2vw;
  height: 58vh;
}
.design-text {
  width: 32vw;
  height: auto;
  margin-bottom: 4px;
}
.position-shoes {
  height: 5.24vh;
  width: 32vw;
  margin-bottom: 8px;
  font-size: 15px;
  display: flex;
}
.position-text-one {
  margin-top: 12px;
  margin-right: 4px;
  display: inline-block;
}
.position-text-two {
  margin-top: 12px;
  margin-right: 2px;
  display: inline-block;
}
.position-text-three {
  margin-top: 12px;
  margin-right: 2px;
  display: inline-block;
}
.position-text-four {
  margin-top: 12px;
  margin-right: 5px;
  display: inline-block;
}
.position-text-five {
  margin-top: 12px;
  margin-right: 11.5px;
  display: inline-block;
}
.size-shoes {
  height: 5.24vh;
  width: 32vw;
  font-size: 15px;
  display: flex;
}
@media screen and (max-width: 992px) {
  .columndes {
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .shoe-colour-column-one {
    margin: -40px 0 0 10px;
    width: 18vw;
  }
  .shoe-colour-column-two {
    margin: -40px 0 0 10px;
  }
  .design-extra-space {
    height: 100vh;
    background-color: white;
  }
  .design-text {
    width: 32vw;
    height: 16.8vh;
    margin-top: -8px;
    margin-bottom: 25px;
  }
  .shoe-colour-image {
    height: 19.9vh;
    width: 17vw;
  }
  .shoe-colour-image-last {
    height: 18.8vh;
    width: 17vw;
  }
  .position-shoes {
    margin-top: 10px;
  }
  .size-shoes {
    margin-top: 10px;
  }
  .design-product-footer {
    margin-top: 65vh;
    height: 20vh;
  }
}
@media screen and (max-width: 689px) {
  .shoe-discount {
    width: 51vw;
  }
}
/* The container */
.shades {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  padding-left: 24px;
  margin-bottom: 12px;
  margin-left: 19px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.shades input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-top: 30px;
}

/* Create a custom checkbox */
.shades-checkmark {
  position: absolute;
  top: 0;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: red;
}
.redcheck {
  background-color: red;
}
.bluecheck {
  background-color: #30aadd;
}
.yellowcheck {
  background-color: #efd345;
}
/* On mouse-over, add a grey background color */
.shades:hover input ~ .shades-checkmark {
  filter: brightness(95%);
}

/* When the checkbox is checked, add a blue background */
.shades input:checked ~ .shades-checkmark {
  opacity: 0.5;
}

/* Create the shades-checkmark/indicator (hidden when not checked) */
.shades-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the shades-checkmark when checked */
.shades input:checked ~ .shades-checkmark:after {
  display: block;
}

/* Style the shades-checkmark/indicator */
.shades .shades-checkmark:after {
  left: 10px;
  top: 0px;
  width: 5px;
  height: 22px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.design-shoename {
  margin-left: -4px;
  font-weight: 500;
  font-size: 21px;
  margin-top: -2px;
  margin-bottom: -9px;
}
.design-shoeline {
  font-size: 13px;
  font-weight: 450;
  margin-left: -5px;
}
.shoe-rating {
  font-size: 11px;
  margin-left: -17px;
  margin-top: 3px;
  margin-bottom: 0;
}
.review {
  font-size: 12px;
  margin: -4px 0 0 -4px;
  font-weight: 400;
}
.shoe-price {
  font-size: 17px;
  margin: 0 0 0 -5px;
}
.shoe-discount {
  font-size: 10px;
  margin: -5px 0 0 -5px;
}
/**************Floating cart and filter *********************/
.float-cart {
  position: absolute;
  height: 100vh;
  width: 50vw;
  padding-bottom: 15vh;
  background-color: white;
  z-index: 5;
  margin-top: 14vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

.slide-toggle {
  display: none;
}
.filter-toggle {
  display: none;
}
@media screen and (max-width: 1024px) {
  .slide-toggle {
    display: block;
  }
  .shoesdiv {
    margin-right: 18px;
  }
  .filter-toggle {
    display: block;
  }
}
.float-heading {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  width: 59vw;
  height: 15vh;
  padding-top: 20px;
  padding-left: 15px;
}
.float-cartapply {
  justify-content: center;
  margin-top: -90px;
  height: 15vh;
  width: 58vw;
  z-index: 451222;
  background-color: #fff;
  display: flex;
}
@media only screen and (max-width: 1100px) {
  .float-cartapply > div > div {
    font-size: 18px;
  }
}
.float-cartdiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  margin-left: 13px;
}
.float-filter {
  position: absolute;
  height: 120vh;
  width: 50vw;
  background-color: white;
  z-index: 5;
  padding: 0 2% 15% 2%;
  overflow-y: scroll;
  display: none;
}

.float-heading-filter {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  width: 47vw;
  height: 12vh;
  padding-top: 15px;
  margin-left: 0px;
}
.display-active {
  display: block;
}
.empty-cart {
  text-align: center;
  padding: 35% 0;
}
@media screen and (max-width: 1024px) {
  .empty-cart {
    text-align: center;
    padding: 15% 15%;
  }
}

.design-float-cart {
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-end;
  margin-left: 67vw;
  display: none;
  margin-top: 19px;
}
@media screen and (max-width: 1200px) {
  .design-float-cart {
    display: inline-block;
  }
}
@media screen and (max-width: 1100px) {
  .design-float-cart {
    margin-left: 59vw;
  }
}
@media screen and (max-width: 906px) {
  .design-float-cart {
    margin-left: 50vw;
  }
}
@media screen and (max-width: 800px) {
  .design-float-cart {
    margin-left: 45vw;
  }
}
@media screen and (max-width: 700px) {
  .design-float-cart {
    margin-left: 35vw;
  }
}
@media screen and (max-width: 500px) {
  .design-float-cart {
    margin-left: 20vw;
  }
}
@media screen and (max-width: 428px) {
  .design-float-cart {
    margin-left: 15vw;
  }
}
@media screen and (max-width: 402px) {
  .design-float-cart {
    margin-left: 5vw;
  }
}
@media screen and (min-width: 1200px) {
  .float-cart {
    display: none;
  }
}
